.preview-header {
	background-color: rgb(38, 38, 38);
	height: 54px;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: grey;
	color: rgb(84, 84, 84);
}

.envato-name {
	display: block;
	height: 18px;
	position: absolute;
	bottom: 18px;
	top: 0;
	width: 152px;
	font-size: 23px;
	height: 18px;
	line-height: 54px;
	color: white;
	left: 30px;
}

.envato-name-name {
	position: absolute;
	left: 10px;
}
.buy-now {
	position: absolute;
	top: 10px;
	right: 18px;
	color: white;
	background-color: rgb(27, 154, 27);
	padding-right: 14px;
	padding-left: 14px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 4px;
}

.market-name {
	color: rgb(4, 205, 4);
	filter: brightness(150%);
	position: absolute;
	left: 80px;
}

.envato-logo-name {
	width: 10%;
	position: absolute;
	left: -7px;
	top: 20px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-height: 100%;
}

p {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

@media (max-width: 1023px) {
	.preview-header {
		background-color: rgb(44, 44, 44);
		width: 100vw;
		height: 54px;
		border-bottom-width: none;
		border-bottom-style: none;
		border-bottom-color: none;
	}

	.envato-name {
		display: block;
		height: 18px;
		position: absolute;
		bottom: 18px;
		top: 0;
		width: 20%;
		font-size: 12px;
		height: 18px;
		line-height: 54px;
		color: white;
		left: 30px;
	}

	.envato-name-name {
		position: absolute;
		left: 12px;
		font-size: 24px;
	}
	.buy-now {
		position: absolute;
		top: 10px;
		/* margin-right: 7%; */
	}

	.market-name {
		color: rgb(4, 205, 4);
		filter: brightness(150%);
		position: absolute;
		/* left: 27%; */
		font-size: 24px;
		padding-left: 8px;
	}

	.envato-logo-name {
		width: 3vw;
		position: absolute;
		left: -4px;
		top: 20px;
	}
}

/* AMISO HEADER CSS */
.help-header {
	height: 44px;
	z-index: 90;
	position: relative;
	margin-top: 54px;
	color: white;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.help-left-group {
	display: flex;
	margin-left: 18px;
	justify-items: center;
	align-items: center;
	flex: 1;
	font-size: 14px;
	color: rgb(143, 143, 143);
	filter: brightness(130%);
}

.mail-icon {
	height: 10px;
	padding-top: 4px;
	margin-right: 10px;
}

.location-icon {
	height: 16px;
	margin-right: 8px;
	padding-right: 4px;
}

.need-header {
	display: flex;
	margin-right: 20px;
}

.address-header {
	display: flex;
	flex: 1;
	white-space: nowrap;
	margin-left: -2px;
}

.icons-header-group {
	display: flex;
	flex-direction: row;
	flex: 1;
	align-items: center;
}

.support-contact {
	flex: 2;
	text-align: center;
	font-size: 14px;
	color: rgb(128, 130, 135);
	padding-left: 5%;
}
.support-space {
	margin-left: 3%;
	margin-right: 5%;
}
.slash {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.icons {
	color: white;
	flex: 1;
	margin-left: -20px;
	margin-right: 20px;
}
.empty {
	flex: 1;
}
.overlay-picture {
	position: relative;
	height: 870px;
	display: inline-block;
	overflow: hidden;
}

.overlay-picture-div {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	visibility: inherit;
	opacity: 1;
	filter: brightness(40%);
}

.amiso-div {
	position: absolute;
	top: 0;
	z-index: 20;
	border-width: 2px;
	border-style: solid;
	height: 85px;
	width: 100%;
	display: flex;
	color: rgb(111, 111, 111);
	align-items: center;
	padding: 0 20px;
	cursor: pointer;
}

.left-amiso-div {
	/* border-width: 2px;
  border-style: solid; */
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	/* filter: brightness(30%);- */
	margin-right: 200px;
	position: absolute;
	left: 2%;
}
.head-icons {
	height: 15px;
	background-color: rgb(5, 4, 4);
	margin-left: 6%;
	margin-right: 6%;
}
.middle-amiso-div {
	align-items: center;
	justify-content: center;
	color: white;
	line-height: 30px;
	text-align: center;
	box-sizing: border-box;
	padding-right: 150px;
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 35%;
	font-size: 16px;
}

.right-amiso-div {
	border-left-width: 1px;
	border-left-color: white;
	border-left-style: groove;
	margin-left: 130px;
	height: 45px;
	position: absolute;
	right: 5%;
}

.website-agency {
	position: absolute;
	top: 180px;
	left: 54px;
}

.back-page {
	background-color: rgb(34, 33, 33);
	top: 45%;
	position: absolute;
	width: 40px;
	z-index: 80;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	color: white;
	box-sizing: border-box;
	box-shadow: 0.2px 0.2px white;
	opacity: 0.6;
	cursor: pointer;
}

.foward-page {
	background-color: rgb(34, 33, 33);
	top: 45%;
	right: 0;
	position: absolute;
	width: 40px;
	z-index: 80;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	color: white;
	box-sizing: border-box;
	box-shadow: 0.2px 0.2px white;
	opacity: 0.6;
	cursor: pointer;
}

.explore-now {
	position: absolute;
	border-style: solid;
	border-color: red;
	color: white;
	top: 550px;
	left: 60px;
	z-index: 90;
	background-color: rgb(226, 5, 5);
	font-size: 16px;
	padding: 15px 50px;
	overflow: hidden;
	border-radius: 10px;
	filter: brightness(120%);
}

#menu-id {
	height: 10px;
	display: none;
}

h1 {
	position: relative;
	color: white;
	display: block;
	font-size: 90px;
	font-weight: 700;
	line-height: 1em;
	filter: brightness(90%);
	font-size: 90px;
}

@media (max-width: 1000px) {
	.help-header {
		height: 44px;
		z-index: 90;
		position: relative;
		margin-top: 54px;
		color: white;
		background-color: black;
		/* display: flex;
    flex-direction: row;
    justify-content: space-between; */
		display: none;
	}

	.help-left-group {
		display: flex;
		margin-left: 18px;
		justify-items: center;
		align-items: center;
		flex: 1;
		font-size: 14px;
		color: rgb(143, 143, 143);
		filter: brightness(130%);
	}

	.mail-icon {
		height: 10px;
		padding-top: 4px;
		margin-right: 10px;
	}

	.location-icon {
		height: 16px;
		margin-right: 8px;
		padding-right: 4px;
	}

	.need-header {
		display: flex;
		margin-right: 20px;
	}

	.address-header {
		display: flex;
		flex: 1;
		white-space: nowrap;
		margin-left: -2px;
	}

	.icons-header-group {
		display: none;
		align-items: center;
	}

	.support-contact {
		flex: 2;
		text-align: center;
		font-size: 14px;
		color: rgb(128, 130, 135);
		padding-left: 5%;
	}
	.support-space {
		margin-left: 3%;
		margin-right: 5%;
	}
	.slash {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.icons {
		color: white;
		flex: 1;
		margin-left: -20px;
		margin-right: 20px;
	}
	.empty {
		flex: 1;
	}
	.overlay-picture {
		position: relative;
		height: 870px;
		width: 100%;
		display: inline-block;
		overflow: hidden;
	}

	.overlay-picture-div {
		height: 667px;
		width: 100%;
		background-size: auto;
		background-position: center center;
		background-repeat: no-repeat;
		display: block;
		visibility: inherit;
		opacity: 1;
		filter: brightness(40%);
	}
	img.overlay-picture-div {
		transform: scale(1.9, 1);
	}

	#menu-id {
		height: 20px;
		/* display: ; */
	}

	#search-id {
		padding-right: 15px;
	}
	.amiso-div {
		position: absolute;
		top: 54px;
		z-index: 20;
		border-width: 2px;
		border-style: solid;
		height: 85px;
		width: 100%;
		display: flex;
		color: rgb(69, 69, 69);
		align-items: center;
		padding: 0 20px;
		cursor: pointer;
		/* filter: brightness(30%); */
	}

	.head-icons {
		height: 15px;
		background-color: rgb(5, 4, 4);
		margin-left: 6%;
		margin-right: 6%;
	}
	.middle-amiso-div {
		align-items: center;
		justify-content: center;
		color: white;
		line-height: 30px;
		text-align: center;
		box-sizing: border-box;
		padding-right: 150px;
		display: none;
		position: absolute;
		left: 35%;
		font-size: 16px;
	}

	.right-amiso-div {
		/* border-left-width: 1px;
    border-left-color: white;
    border-left-style: groove; */
		margin-left: 130px;
		height: 45px;
		position: absolute;
		right: 0;
		margin-right: 10%;
	}

	.website-agency {
		position: absolute;
		top: 200px;
		left: 40px;
	}

	.back-page {
		display: none;
	}

	.foward-page {
		display: none;
	}

	h1 {
		position: relative;
		color: white;
		display: block;
		font-size: 90px;
		font-weight: 700;
		line-height: 1.2em;
		filter: brightness(90%);
		font-size: 58px;
		margin-left: -20px;
	}

	.explore-now {
		position: absolute;
		border-style: solid;
		border-color: red;
		color: white;
		top: 480px;
		left: 20px;
		z-index: 90;
		background-color: rgb(226, 5, 5);
		font-size: 16px;
		padding: 15px 50px;
		overflow: hidden;
		border-radius: 10px;
		filter: brightness(120%);
	}
}

/* AMISO BODY */
.left-image-container {
	overflow: hidden;
	width: fit-content;
	height: fit-content;
	border-radius: 10px;
}

.middle-div-container {
	position: absolute;
	height: 254px;
	width: 200px;
	/* border-color: red;
  border-width: 2px;
  border-style: solid; */
	top: 80px;
	left: 360px;
	border-radius: 8px;
	box-shadow: 0 0 6px 6px white;
	z-index: 90;
	overflow: hidden;
}

.right-div-container {
	/* border-color: rgb(0, 255, 72);
  border-width: 2px;
  border-style: solid; */
	height: 497.219px;
	width: 40%;
	padding-left: 70px;
	position: relative;
	margin-right: auto;
	white-space: nowrap;
}

.left-div-container {
	height: 497.22px;
	/* border-color: rgb(47, 0, 255);
  border-width: 2px;
  border-style: solid; */
	margin-left: auto;
	/* margin-right: -100px; */
	position: relative;
	width: 40%;
	overflow: hidden;
}

.overall-inner-div {
	height: 539.38px;
	/* border-color: rgb(255, 55, 0);
  border-width: 2px;
  border-style: solid; */
	padding-top: 120px;
	padding-bottom: 200px;
	/* padding-left: 50px; */
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	/* padding-right: 50px; */
	display: flex;
	flex-direction: row;
	z-index: 2;
	position: relative;
}

.call-help {
	margin-top: 20px;
	display: inline-block;
}

.phone {
	display: inline-block;
	border: solid;
	border-color: rgb(237 240 245);
	border-radius: 34px;
	border-width: 1px;
	/* margin-top: 20px; */
	background-color: rgb(237 240 245);
	height: 68px;
	width: 68px;
	position: relative;
}

.phone-image {
	height: 30px;
	color: red;
	background-color: rgb(237 240 245);
	position: absolute;
	top: 30%;
	left: 30%;
	display: inline-block;
}

.call-anytime {
	margin-left: 80px;
	white-space: nowrap;
	font-size: 22px;
	padding: 8px 0;
	/* padding-left: 90px; */
	color: rgb(24 24 24);
	text-align: left;
	font-weight: 700;
	white-space: nowrap;
	line-height: 20px;
	margin-right: 30px;
}

.call-text {
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: #6a6a6a;
	margin-bottom: -10px;
}

.explore-2 {
	border-style: solid;
	border-color: #ff3838;
	color: white;
	background-color: #ff3838;
	font-size: 16px;
	padding: 15px 50px;
	overflow: hidden;
	border-radius: 10px;
	filter: brightness(120%);
	display: inline-block;
	white-space: nowrap;
	position: absolute;
	top: 10px;
	margin-left: 20%;
	display: none;
}

.anytime {
	position: absolute;
	bottom: -120px;
	left: 30%;
	/* border-color: rgb(47, 0, 255); */
	/* border-width: 2px;
  border-style: solid; */
	margin-top: 500px;
}

@media (max-width: 1023px) {
	.overall-inner-div {
		width: 100%;
		z-index: 2;
		position: relative;
		margin-top: -15%;
		display: block;
		padding-left: 5%;
		padding-right: 5%;
	}

	.left-div-container {
		width: 100vw;
		overflow: hidden;
		display: block;
		justify-content: center;
		border-radius: 10px;
		margin-top: 400px;
	}

	.left-image-container {
		min-width: none;
		width: 90vw;
		height: max-content;
		margin-top: 200px;
	}

	.middle-div-container {
		display: none;
	}

	.right-div-container {
		height: 497.219px;
		width: 90vw;
		margin-top: -1100px;
		padding-left: 0;
		white-space: normals;
	}

	.call-help {
		margin-top: 20px;
		display: block;
	}

	.phone {
		height: 60px;
		width: 60px;
		display: block;
	}

	.phone-image {
		height: 24px;
		color: red;
		background-color: rgb(237 240 245);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.call-text {
		display: block;
		font-size: 16px;
		font-weight: 400;
		color: #6a6a6a;
		margin-bottom: -10px;
	}

	.explore-2 {
		display: block;
		position: absolute;
		top: 60px;
	}

	.anytime {
		display: block;
		width: 90vw;
		white-space: normal;
		position: initial;
		text-align: center;
		margin-top: 700px;
	}

	.checkbox-dust {
		white-space: normal;
	}

	.provide-h2 {
		font-size: 32px;
		color: black;
		font-family: "Manrope", sans-serif;
		font-weight: 700;
		line-height: 1.2em;
		margin-top: -8px;
		white-space: normal;
	}

	h3 {
		white-space: normal;
	}

	.wetin-head {
		font-size: 32px;
		color: rgb(0 0 0);
		font-family: "Manrope", sans-serif;
		font-weight: 700;
		line-height: 1.2em;
		margin-top: 20px;
		text-align: left;
		width: 95vw;
		padding-top: 8px;
		text-align: center;
		z-index: 80;
	}
}
